/* Admin review notice*/
#sp-woo-quick-view-review-notice {
  padding: 18px 15px 18px 0;
  background-color: #fff;
  border-radius: 5px;
  margin: 20px 20px 0 0;
  box-shadow: 0 0 20px 0 rgba(36, 39, 50, .08);
  clear: both;
}

#sp-woo-quick-view-review-notice .sp-woo-quick-view-plugin-icon {
  width: 125px;
  float: left;
  line-height: 90px;
  text-align: center;
  margin-left: 8px;
}

#sp-woo-quick-view-review-notice .sp-woo-quick-view-plugin-icon img {
  max-width: 94px;
  vertical-align: middle;
  margin-right: 8px;
}

#sp-woo-quick-view-review-notice .sp-woo-quick-view-notice-text {
  overflow: hidden;
}

#sp-woo-quick-view-review-notice .sp-woo-quick-view-notice-text h3 {
  font-size: 24px;
  margin: 0 0 5px;
  font-weight: 400;
  line-height: 1;
}

#sp-woo-quick-view-review-notice .sp-woo-quick-view-notice-text p {
  margin: 10px 0 10px 0;
  font-size: 13px;
}

#sp-woo-quick-view-review-notice .sp-woo-quick-view-notice-text p.sp-woo-quick-view-review-actions {
  margin: 10px 0 2px 0;
}

#sp-woo-quick-view-review-notice .sp-woo-quick-view-notice-text .sp-woo-quick-view-review-actions a {
  text-decoration: none;
  margin-right: 8px;
  color: #63a37b;
  display: inline-block;
  position: relative;
}

#sp-woo-quick-view-review-notice .sp-woo-quick-view-notice-text .sp-woo-quick-view-review-actions a span {
  padding-right: 2px;
}

#sp-woo-quick-view-review-notice .sp-woo-quick-view-notice-text .sp-woo-quick-view-review-actions a.button {
  color: #fff;
}

.rtl #sp-woo-quick-view-review-notice {
  margin: 20px 0 0 20px;
  padding: 18px 0 18px 15px;
}

.rtl #sp-woo-quick-view-review-notice .sp-woo-quick-view-plugin-icon {
  float: right;
  margin: 0 0 0 8px;
}

/* Offer Banner Styles */
.sp_wqv-admin-offer-banner-section {
  position: relative;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  height: auto;
  border-left: 0;
  margin-top: 40px;
  margin-right: 20px;
  padding-left: 40px;
  padding-right: 40px;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5px 40px;
  background: linear-gradient(90deg, #000717 0%, #002068 50.5%, #451223 100%);
  clear: both;
}

.sp_wqv-admin-offer-banner-section .sp_wqv-offer-additional-text {
  display: flex;
  align-items: center;
}

.sp_wqv-admin-offer-banner-section span.sp_wqv-clock-icon {
  font-size: 24px;
  margin-right: 6px;
}

.sp_wqv-admin-offer-banner-section img.sp_wqv-plugin-logo,
.sp_wqv-admin-offer-banner-section img.sp_wqv-offer-name,
.sp_wqv-admin-offer-banner-section img.sp_wqv-offer-percentage {
  max-width: 250px;
}

.sp_wqv-admin-offer-banner-section img.sp_wqv-plugin-logo {
  width: 160px;
}

.sp_wqv-admin-offer-banner-section img.sp_wqv-offer-percentage {
  width: 210px;
  vertical-align: middle;
}

.sp_wqv-admin-offer-banner-section .sp_wqv-offer-additional-text p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .5px;
}

.sp_wqv-admin-offer-banner-section a.sp_wqv-get-offer-button {
  width: 100px;
  display: inline-block;
  font-size: 13px;
  background: pink;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 12px 15px;
  font-weight: 600;
  transition: .8s ease;
  background: linear-gradient(98.42deg, #A900BF 8.48%, #E100FF 80.32%);
}

.sp_wqv-admin-offer-banner-section a.sp_wqv-get-offer-button:hover {
  background: linear-gradient(0deg, #A900BF 8.48%, #E100FF 80.32%);
}

.sp_wqv-admin-offer-banner-section .sp_wqv-close-offer-banner {
  position: absolute;
  top: 50%;
  right: 6px;
  top: 6px;
  cursor: pointer;
}

.sp_wqv-admin-offer-banner-section i.sp_wqv-icon-banner-close {
  transition: 0.15s ease;
}

.sp_wqv-admin-offer-banner-section i.sp_wqv-icon-banner-close:hover {
  color: #df3939b5;
}

.sp_wqv-admin-offer-banner-section .sp_wqv-banner-action-button {
  line-height: 22px;
}

/* Offer Banner Responsiveness */
@media only screen and (max-width: 1360px) {
  .sp_wqv-admin-offer-banner-section {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .sp_wqv-admin-offer-banner-section {
    padding-top: 20px;
  }

  #screen-meta-links+.sp_wqv-admin-offer-banner-section {
    margin-top: 50px !important;
  }
}

.sp_wqv-admin-offer-banner-section .sp_wqv-close-offer-banner {
  position: absolute;
  top: 50%;
  right: 4px;
  top: 4px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.sp_wqv-admin-offer-banner-section .sp_wqv-close-offer-banner:before,
.sp_wqv-admin-offer-banner-section .sp_wqv-close-offer-banner:after {
  content: '';
  width: 16px;
  height: 1.3px;
  background: #ffffff;
  top: 9px;
  left: 3px;
  display: block !important;
  transform: rotate(45deg);
  position: absolute;
}

.sp_wqv-admin-offer-banner-section .sp_wqv-close-offer-banner:after {
  transform: rotate(135deg);
}

.sp_wqv-admin-offer-banner-section .sp_wqv-close-offer-banner:hover:before,
.sp_wqv-admin-offer-banner-section .sp_wqv-close-offer-banner:hover:after {
  background-color: #df3939b5;
}

/* RTL style for the offer banner. */
.rtl .sp_wqv-admin-offer-banner-section {
  margin: 40px 0 0 20px;
}

.rtl .sp_wqv-admin-offer-banner-section .sp_wqv-close-offer-banner {
  right: auto;
  left: 4px;
}

.rtl .sp_wqv-admin-offer-banner-section span.sp_wqv-clock-icon {
  margin-left: 6px;
  margin-right: 0;
}